.section-title {
  display: block;
  width: 100%;
  font-size: 18px;
  text-align: center;
}
.list-sales {
  padding: 15px;

    .row {
      border-bottom: 1px solid black;
      [class*="col-"]{
        margin-bottom: 0;
        padding-top:10px;
        padding-bottom:10px;
        .title {
          margin: 0 auto;
          font-weight: bold;
        }
        .subtitle {
          margin: 0 auto;
          font-weight: lighter;
        }
      }
      &.total-row {
        border-top: 1px solid black;
        border-bottom: 0;
        margin-top: 5px;
        [class*="col-"] {
          margin-bottom: inherit;
        }
      }
    }
}
